version: '3.8'

services:
  hugo:
    build: .
    container_name: summer-summit-hugo
    ports:
      - "1313:1313"
    volumes:
      - .:/src
    command: server --bind 0.0.0.0 --buildDrafts --disableFastRender
